<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.redbear.redbearduo">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name=".view.Activity.MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.Activity.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.Activity.InfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.Activity.Splash_zero"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.Activity.DevicesScan"
            android:screenOrientation="portrait"/>
        <activity android:name="net.redbear.provision.ProvisionMainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="net.redbear.provision.DuoStateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="net.redbear.board.controller.view.activity.ControlActivity"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c7de6906d4936ce6c4c811e60089d5ee0b544e0a" />
    </application>

</manifest>
